.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Adjusted to take the full height of the viewport */
    background-image: url('../images/Loginpage.jpg'); /* Use the imported image */
  }
  
  .login-form {
    width: 90%; /* Adjusted to take up 90% of the container's width */
    max-width: 400px; /* Added max-width for better responsiveness */
    padding: 40px;
    background-color: rgba(9, 32, 13, 0.73); /* Adjusted the opacity */
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(244, 243, 243, 0.5); /* Adjusted the shadow */
    color: #f8f7f7;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px; /* Adjusted font size for better readability */
  }
  
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #5f2a2a;
    border-radius: 4px;
    box-sizing: border-box; /* Added to include padding in width calculation */
  }
  
  button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #a1dadb;
    color: #130b0b;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Added transition for hover effect */
  }
  
  button:hover {
    background-color: #86b9b9; /* Adjusted hover color */
  }
  
  .log {
    margin-top: 20px; /* Adjusted margin for better spacing */
    font-size: 18px; /* Adjusted font size for better readability */
  }
  .lk
  {
    color: #f8f7f7;
  }